.order-delivery,
.data-recipient,
.address-recipient,
.recipient-btn,
.order-cart{
  .header1{
    font-weight: normal;
    margin-top: 0;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  > .container{
    padding: 0;
    @media($bp-larger-than-phablet) {
      padding: 0 20px;
    }
  }
}
.order-cart{
  &__inner{
    padding: 15px 28px 28px;
    background-color: #fff;
    margin-bottom: 24px;
  }
  &__table{
    width: 100%;
    @media($bp-larger-than-tablet) {
      display: table;
    }
  }
  &__row{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;

    @media($bp-larger-than-tablet) {
      display: table-row;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
    &:after{
      display: table;
      content: "";
      clear: both;
      @media($bp-larger-than-tablet) {
        display: none;
      }
    }
  }
  &__row-header{
    display: none;
    @media($bp-larger-than-tablet) {
      display: table-row;
    }
  }
  &__name-header,
  &__params-header,
  &__quontity-header,
  &__params-header,
  &__price-header,
  &__delete-header{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    color: #9c9c9c;
    font-weight: normal;
    @media($bp-larger-than-tablet){
      display: table-cell;
      vertical-align: middle;
      padding: 15px 0;
    }
    @media($bp-larger-than-desktop){
      vertical-align: middle;
    }
  }
  &__name-header{
    @media($bp-larger-than-tablet) {
      width: 35%;

    }
  }
  &__params-header{
    @media($bp-larger-than-tablet) {
      width: 27%;
         }
  }
  &__quontity-header{
    @media($bp-larger-than-tablet) {
      width: 17%;

    }
  }
  &__price-header{
    @media($bp-larger-than-tablet) {
      width: 13%;
    }
  }
  &__delete-header{
    @media($bp-larger-than-tablet) {
      width: 8%;
    }
  }
  &__name,
  &__params,
  &__quontity,
  &__price,
  &__delete{
    @media($bp-larger-than-tablet){
      display: table-cell;
      vertical-align: top;
      padding: 12px 0;
      border-bottom: 1px solid #d9d9d9;
    }
    @media($bp-larger-than-desktop){
      vertical-align: middle;
    }
  }
  &__name-table{
    display: table;
    width: 100%;
  }
  &__name-box{
    padding: 0 15px;
    vertical-align: top;
    display: table-cell;
    @media($bp-larger-than-desktop) {
      vertical-align: middle;
    }
  }
  &__product-name{
    font-size: 16px;
    color: #0088aa;
    line-height: 120%;
    @media($bp-larger-than-phablet) {
      padding-bottom: 10px;
    }
  }
  &__image{
    width: 86px;
    vertical-align: top;
    display: table-cell;
    @media($bp-larger-than-tablet) {
      width: 104px;
      margin-right: 15px;
      vertical-align: middle;
    }
    img{
      max-width: 100%;
    }
  }

  &__name{
    //padding: 0 15px 0 0;
  }
  &__params{
    margin-bottom: 20px;
    @media($bp-larger-than-phablet) {
      margin-bottom: 0;
    }
  }
  &__quontity{
    float: left;
    margin-right: 18px;
    @media($bp-larger-than-tablet) {
      float: none;
      margin-right: 0;
    }
    span{
      background-color: #fff;
    }
  }
  &__price{
    float: left;
    @media($bp-larger-than-tablet) {
      float: none;
    }
  }
  &__delete{
    float: right;
    @media($bp-larger-than-tablet) {
      float: none;
    }
    .btn-delete{
      @media($bp-larger-than-tablet) {
        margin-bottom: 3px;
        vertical-align: middle;
      }
    }
  }
  &__cost{
    float: right;
  }
}
.order-line{
  font-size: 14px;
  &__key{

  }
  &__value{
    color: #787878;
  }
}
.order-param{
  font-size: 14px;
  padding-bottom: 6px;
  &__key{

  }
  &__value{
    display: block;
    color: #787878;
    @media($bp-larger-than-desktop){
      display: inline;
    }
  }
}

.order-delivery {
  &__inner {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 24px;
    @media ($bp-larger-than-desktop) {
      padding: 20px 28px 28px;
    }
  }
  &__item{
    padding: 16px 0 28px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 8px;
    &-total{
      padding: 7px 0 17px;
      margin-bottom: 20px;
    }
  }
  &__checkbox{
    .checkbox{
      display: none;
    }
    span.label{
      padding-left: 45px;
    }
  }
  &__region{
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 32px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    margin-top: 36px;
    .selectricWrapper{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      max-width: 533px;
      height: 42px;
      width: 100%;
      @media ($bp-larger-than-desktop) {
        max-width: 602px;
      }
      &.selectric{
        border: 0px none;
      }
    }
    .selectric{
      border: 1px solid #dadada;
      background-color: #fff;
      border-radius: 0;
      //height: 40px;
      p{
        line-height: 26px;
      }
      b{
        line-height: 23px;
        height: 38px;
      }
      .label{
        font-size: 13px;
        color: #9c9c9c;
      }
      .button{
        &:after{
          border: 0 none;
          content: "";
          @include sprite($icon-down-dark);
        }
      }
    }
    .selectricOpen{
      .selectric{
        background-color: #fff;
      }
    }
    .selectricItems li{
      background-color: #fff;
      font-size: 14px;
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }

  }
  .checkbox-custom{
    vertical-align: top;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    position: absolute;

  }
  .checkbox:checked + .checkbox-custom{
    border-color: $blue;
  }
  .checkbox:checked + .checkbox-custom::before{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
    @include sprite($check);
  }
  &__text{
    font-weight: 600;
    font-size: 16px;
    padding-top: 4px;
  }
  &__date{
    font-weight: normal;
    font-size: 14px;
    display: block;
    @media ($bp-larger-than-phablet) {
      padding-left: 16px;
      display: inline;
    }
  }
  &__time-text{
    display: block;
    margin-bottom: 8px;
    @media ($bp-larger-than-phablet) {
      display: inline;
      margin-bottom: 0px;
    }
  }
  &__time{
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    padding-left: 45px;
    @media ($bp-larger-than-phablet) {
      margin-top: 20px;
    }
    .selectricWrapper{
      display: inline-block;
      margin-bottom: 8px;
      vertical-align: middle;
      width: 148px;
      height: 42px;
      @media ($bp-larger-than-phablet) {
        margin-left: 6px;
        margin-bottom: 0;
      }
      &.selectric{
        border: 0 none;
      }
    }
    .selectric{

      border: 1px solid #dadada;
      background-color: #fff;
      border-radius: 0;
      height: 40px;
      p{
        line-height: 26px;
      }
      b{
        line-height: 23px;
        height: 38px;
      }
      .label{
        font-size: 13px;
        color: #9c9c9c;
      }
      .button{
        &:after{
          border: 0 none;
          content: "";
          @include sprite($icon-down-dark);
        }
      }
    }
    .selectricOpen{
      .selectric{
        background-color: #fff;
      }
    }
    .selectricItems li{
      background-color: #fff;
      font-size: 14px;
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }
  }
  &__info{
    float: left;
  }
  &__cost{
    padding-left: 45px;
    font-size: 14px;
    color: #787878;
    clear: both;
    @media ($bp-larger-than-phablet) {
      padding-left: 0px;

    }
    @media($bp-larger-than-tablet) {
      float: right;
      clear: none;
    }
    @media ($bp-larger-than-desktop) {
      padding-top: 18px;
      padding-right: 41px;
    }
  }
  &__box{
    @media ($bp-larger-than-phablet) {
      float: left;
    }
  }
  &__prices{
    @media ($bp-larger-than-phablet) {
      float: right;
    }
  }
  &__price-value{
    font-size: 20px;
    font-weight: 600;
    color: #373737;
    padding-left: 12px;
  }
  &__price-currency{
    font-size: 20px;
    font-weight: 600;
    color: #373737;
  }
  &__add-decription{
    font-size: 14px;
    color: #787878;
    padding-top: 8px;
    @media ($bp-larger-than-tablet) {
      width: 363px;
      //float: left;
    }
    @media ($bp-larger-than-desktop) {
      width: 100%;
    }
  }
  &__costlabel{
    display: inline-block;
    width: 132px;
    color: #787878;
    font-size: 14px;
  }
  &__add-cost{
    //float: right;
    @media ($bp-larger-than-desktop) {
      padding-right: 18px;
    }
  }
  &__summa-box{
    font-size: 24px;
    padding-right: 10px;
    @media ($bp-larger-than-phablet) {
      white-space: nowrap;
      float: right;
    }
  }
  &__summa{
    font-weight: bold;
    display: block;
    @media ($bp-larger-than-phablet) {
      display: inline;
    }
  }
}
.order-cart{
  &__price{
    font-size: 20px;
    font-weight: 600;
  }
  &__cost{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 22px;
    &-value{
      text-transform: none;
      font-size: 24px;
      font-weight: bold;
      padding-left: 6px;
    }
    &-currency{
      text-transform: none;
      font-size: 24px;
      font-weight: bold;
    }
    &-delivery{
      margin-top: 6px;
      font-size: 14px;
      text-transform: none;
      color: #787878;
    }
  }
}
.btn-delete{
  background-color: transparent;
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  &:before{
    position: absolute;
    content: "";
    @include sprite($delete);
    top: 0px;
    left: 0;
  }
}
.data-recipient{
  &__inner{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 24px;
    @media ($bp-larger-than-tablet) {
      padding: 24px 28px 28px;
    }
  }
}
.recipient-forma {
  background-color: #eeeeee;
  padding: 26px;
  border: 1px solid #d4d4d4;

  &__form{
    margin-bottom: 8px;
    margin-top: 29px;
  }
  &__item {
    margin-bottom: 15px;
    input {
      height: 42px;
      width: 100%;
      font-size: 13px;
      color: #373737;
      max-width: 312px;
    }
    span{
      width: 104px;
      display: inline-block;
      font-size: 14px;
      padding-bottom: 12px;
      @media ($bp-larger-than-tablet) {
        padding-bottom: 0;
      }
    }
  }
  &__button {
    text-align: center;
  }
  &__btn{
    width: 242px;
    height: 45px;
    border-radius: 22px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    line-height: 45px;
    font-size: 14px;
  }
}
.recipient-btn{
  &__inner{
    padding: 33px 4px 30px;
    background-color: #fff;
    margin-bottom: 38px;
    @media ($bp-larger-than-tablet) {
      padding: 33px 28px 50px;
    }
  }
  &__text{
    font-size: 14px;
    color: #787878;
    text-align: center;
    margin-bottom: 33px;
  }
}
.address-recipient {
  &__inner {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 24px;
    @media ($bp-larger-than-tablet) {
      padding: 15px 28px 28px;
    }
  }
  .address-forma{
    background-color: #eeeeee;
    padding: 26px;
    border: 1px solid #d4d4d4;

    &__form {
      margin-bottom: 8px;
      margin-top: 32px;
      width: 100%;

    }
    &__info{
      width: 100%;
      @media ($bp-larger-than-tablet) {
        width: 39%;
        float: left;
      }
    }
    &__data{
      width: 100%;
      @media ($bp-larger-than-tablet) {
        width: 61%;
        float: left;
      }
    }
    &__item {
      margin-bottom: 15px;
      input {
        height: 42px;
        font-size: 13px;
        color: #373737;
        width: 100%;
        @media ($bp-larger-than-phablet) {
          width: 312px;
        }
      }
      span {
        padding-bottom: 12px;
        width: 100%;
        display: inline-block;
        font-size: 14px;
        @media ($bp-larger-than-phablet) {
          width: 104px;
        }
        @media ($bp-larger-than-tablet) {
         padding-bottom: 0;
        }
      }
    }
    &__box{
      @media ($bp-larger-than-phablet) {
        float: left;
        max-width: 420px;
        margin-right: 40px;
      }
    }
  }
}
.region-line{
  position: relative;
  line-height: 42px;
  &__label{
    @media ($bp-larger-than-phablet) {
      position: absolute;
      left: 0;
    }
  }
  &__select{
    @media ($bp-larger-than-phablet) {
      padding-left: 170px;
    }
  }
}