.catalogline-card{
  @media($bp-larger-than-tablet){
    display: table;
    width: 100%;
  }
  &__box{
    padding: 15px 3px 15px;
    margin-top:  14px;
    margin-bottom: 14px;
    @media($bp-larger-than-phablet) {
      padding: 20px 0;
      margin-top:  20px;
      margin-bottom: 20px;
    }
    +.catalogline-card__box{
      border-top: 1px solid #dadada;
    }
  }
  &__image{
    float: left;
    width: 80px;
    padding-right: 14px;
    @media($bp-larger-than-phablet) {
      width: 150px;
    }
    @media($bp-larger-than-tablet) {
      float: none;
      display: table-cell;
      vertical-align: top;
    }
    img{
      max-width: 100%;
    }
  }
  &__info{
    @media($bp-larger-than-tablet) {
      display: table-cell;
      vertical-align: top;
      padding-left: 22px;
    }
  }
  &__name{
    text-align: left;
    color: #0088aa;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 120%;
    @media($bp-larger-than-mobile) {
      margin-bottom: 10px;
    }
    span{
      vertical-align: middle;
      line-height: 100%;
      @media($bp-larger-than-mobile) {
        display: inline-block;
      }
    }
  }
  &__actions{
    text-align: left;
    @media($bp-larger-than-tablet) {
      display: table-cell;
      width: 160px;
      vertical-align: top;
    }
    .catalog-card__submit{
      margin-top: 0;
      @media($bp-larger-than-tablet) {
        margin-top: 20px;
      }
    }
    .priceline{
      margin-bottom: 12px;
      &__key{
        vertical-align: top;
        padding-top: 4px;
        display: inline-block;
      }
      &__value{
        font-weight: bold;
        font-size: 20px;
        color: #373737;
        display: inline-block;
        vertical-align: top;
      }
    }
    .quontity{

      span{
        background-color: #fff;
      }
    }

  }
  +.catalogline-card{

  }
}
.catalogline-line{
  color: #373737;
  margin-bottom: 6px;
  font-size: 14px;
  &__key{
    float: left;
    letter-spacing: -0.6px;
    margin-right: 8px;
  }
  &__value{
    float: left;
    color: #787878;
  }
}
