.distribution{
  background-color: #fff;
  padding-top: 16px;
  width: 100%;
  &__map{
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1680px;
    max-height: 612px;
    img{
      width: 100%;
    }
    @media ($bp-larger-than-desktop ) {
      display: block;
    }
  }
  &__star{
    font-size: 15px;
    color: #373737;
    margin-bottom: 13px;
    &--moscow{
      display: block;
      @media ($bp-larger-than-desktop ) {
        display: none;
      }
    }
    &--city{
      display: none;
      @media ($bp-larger-than-desktop ) {
        display: block;
      }
    }
  }
}
.distribution-implement{
  &__city{
    display: none;
    @media ($bp-larger-than-desktop ) {
      display: block;
    }
  }
  &__label{
    font-size: 24px;
    color: #373737;
    text-transform: uppercase;
  }
  &__list{
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0;
  }
  &__box{
    display: inline-block;
    width: 100%;
    padding: 0 3px;
    margin-bottom: 4px;
    font-size: 0;
    position: relative;
    margin-top: 20px;
    &:before{
      position: absolute;
      content: "";
      display: inline-block;
      @include sprite($address);
      top: 6px;
      left: -3px;
    }
    @media ($bp-larger-than-tablet){
      width: 50%;
    }
    @media ($bp-larger-than-1170){
      width: 33%;

    }
  }
  &__item{
    font-size: 14px;
    text-align: left;
    padding-left: 27px;
    margin-bottom: 14px;
  }
  &__caption{
    float: left;
    min-width: 120px;
    color: #373737;
  }
  &__value{
    overflow: hidden;
    color: #787878;
  }
  + .distribution-implement{
    //border-top: 1px solid #dadada;
  }
}
.distribution-search{
  background-color: #eeeeee;
  padding: 30px 30px 30px 26px;
  position: relative;
  margin-bottom: 16px;
  .selectric {
    border: 0;
    background-color: #fff;
    border-radius: 0;
    height: 40px;
    p {
      line-height: 28px;
    }
    b {
      line-height: 28px;
      height: 40px;
    }
    .label {
      font-size: 13px;
      color: #9c9c9c;
      padding-left: 7px;
      padding-right: 14px;
    }
    .button {
      &:after {
        border: 0 none;
        content: "";
        @include sprite($icon-down-dark);
      }
    }
  }
  .selectricOpen{
    .selectric{
      background-color: #fff;
      .button{
        &:after {
          border: 0 none;
          content: "";
          @include sprite($icon-up-dark);
        }
      }
    }
  }
  .selectricItems li{
    background-color: #fff;
    font-size: 13px;
    text-align: left;
    border-bottom: none;
    &:hover{
      background-color: $blue;
      color: #fff;
    }
  }
  .selectricWrapper{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    max-width: 605px;
    width: 100%;
    .selectric{
      border: 1px solid #dddddd;
    }
  }
  &__caption{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color: #373737;
    margin-bottom: 16px;
    @media ($bp-larger-than-desktop ) {
      display: none;
    }
  }
}
.distribution-separator{
  border-top: 1px solid #dadada;
  @media($bp-larger-than-tablet){
    display: none;
    &--2{
      display: block;
    }
  }
  @media($bp-larger-than-1170){
    &--2{
      display: none;
    }
    &--3{
      display: block;
    }
  }
  &:last-child{
    display: none;
  }
}
