.product-page{
  &__card{
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    margin-bottom: 15px;
  }
  &__images{
    @media($bp-larger-than-tablet) {
      width: 525px;
      float: left;
    }
  }
  &__info{
    @media($bp-larger-than-tablet) {
      overflow: hidden;
      min-width: 560px;
    }
  }
}
.product{
  &__header{
    color: #0088aa;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 18px;
    margin-top: 0;
  }
}

.product-image{
  &__list{
    position: relative;
    @media($bp-larger-than-tablet){
      width: 400px;
      float: left;
      left: 125px;
    }
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.product-previews{
  position: relative;
  @media($bp-larger-than-tablet){
    left: -400px;
    width: 125px;
    float: left;
  }
  &__item{
    width: 94px;
    height: 92px;
    margin-bottom: 14px;
    border: 1px solid #dadada;
    line-height: 86px;
    text-align: center;
    cursor: pointer;
    font-size: 0;
    @media($bp-larger-than-phablet){
      width: 114px;
      height: 108px;
      line-height: 100px;
    }
    img{
      max-width: 80px;
      max-height: 80px;
      vertical-align: middle;
      display: inline-block;
      @media($bp-larger-than-phablet) {
        max-width: 90px;
        max-height: 90px;
      }
    }
  }
  .slick-list{
    padding: 0 !important;
  }
  .slick-current{
    .product-previews{
      &__item{
        border: 1px solid #ff5343;
      }
    }
  }
}
.slick-slide{
  outline: none;
}
.product-intro{
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 18px;
  border-bottom: 1px solid #d3d3d3;
  &__name{
    margin-bottom: 10px;
    @media ($bp-larger-than-phablet ) {
      margin-bottom: 0;
      float: left;
      padding-right: 16px;
    }
  }
  &__text{
    overflow: hidden;
    color: #787878;
  }
}
.product-property{
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
  &__box{
    float: left;
    width: 50%;
    font-size: 13px;
    margin-bottom: 15px;
    @media ($bp-larger-than-phablet ) {
      width: 33.33%;
      margin-bottom: 0;
    }
  }
  &__item{
    margin-bottom: 9px;
  }
  &__key{
    float: left;
    padding-right: 10px;
  }
  &__value{
    color: #787878;
    float: left;
  }
}
.product-action{
  &__row{
    margin-bottom: 10px;
  }
  &__line{
    @media($bp-larger-than-phablet) {
      width: 100%;
      margin-bottom: 21px;
    }
  }
  &__lead{
    color: #373737;
    font-weight: bold;
    font-size: 13.5px;
    width: 154px;
    letter-spacing: 0.4px;
    float: left;
    padding-top: 7px;
    margin-bottom: 14px;
    @media ($bp-larger-than-mobile ) {
      font-size: 14px;
      margin-bottom: 0;
    }
    .hint{
      display: block;
      font-size: 13px;
      color: #787878;
      line-height: 110%;
      letter-spacing: -0.1px;
    }
  }
  &__price{
    width: 125px;
    float: left;
    line-height: 34px;
    text-align: right;
    margin-bottom: 14px;
    @media ($bp-larger-than-mobile ) {
      width: 136px;
      text-align: left;
      margin-bottom: 0;
    }
    &-text{
      font-size: 13px;
      color: #787878;
      display: inline-block;
      vertical-align: middle;
      @media ($bp-larger-than-mobile ) {
        padding-right: 6px;
      }
    }
    &-value{
      font-weight: 600;
      font-size: 22px;
      display: inline-block;
      vertical-align: top;
    }
  }
  &__quontity{
    float: left;
    width: 130px;
    margin-bottom: 14px;
    clear: both;
    @media ($bp-larger-than-mobile ) {
      clear: none;
      margin-bottom: 0;
    }
    .quontity{

      span{
        background-color: #fff;
      }
    }
  }
  &__buy{
    float: left;
    margin-bottom: 14px;
    @media ($bp-larger-than-mobile ) {
      margin-bottom: 0;
    }
  }
  &__submit{
    width: 114px;
    height: 34px;
    border-radius: 20px;
    text-transform: uppercase;
    line-height: 34px;
  }
}
.product-tabs{
  background-color: #fff;
  padding: 15px 25px 15px;
  margin-bottom: 24px;
  &__tab{
    display: none;
    &.active{
      display: block;
    }
    h3{
      font-weight: normal;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 0 20px;
    }
  }
  &__body{
    padding: 26px 0 42px;
  }
  &__nav{
    background-color: #eeeeee;
    height: 52px;
    line-height: 52px;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      height: 2px;
      background-color: #d9d9d9;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after{
      content: "";
      display: inline-block;
      height: 1px;
      background-color: #d9d9d9;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        a{
          display: inline-block;
          height: 52px;
          padding: 10px 8px;
          line-height: 32px;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          color: #373737;
          position: relative;
          z-index: 2;
          @media ($bp-larger-than-phablet ) {
            padding: 10px 47px;
          }
          &.active{
            background-color: #fff;
            border-top: 2px solid $blue;
            border-left: 1px solid #d9d9d9;
            border-right: 1px solid #d9d9d9;
          }
        }
      }
    }
  }
  table{
    width: 100%;
  }
  th,td{
    border: 1px solid #d9d9d9;
    text-align: center;
    vertical-align: top;

    &:first-child,
    &:last-child{
      padding: 12px 15px;
    }
  }
  th{
    font-size: 14px;
  }
  td{
    font-size: 13px;
    color: #787878;
  }
}
.dot-property{
  &__list{
    padding: 30px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  &__item{
    line-height: 122%;
    margin-bottom: 20px;
    font-size: 13px;
    color: #787878;
  }
  &__name{
    width: 195px;
    float: left;
    margin-right: 10px;
    position: relative;
    background: transparent url('/assets/template/images/dot-border.jpg') left 85% repeat-x;
    @media ($bp-larger-than-phablet ) {
      width: 282px;
    }
    span{
      background-color: #fff;
      padding-right: 10px;
      padding-bottom: 3px;
    }
  }
  &__value{
    overflow: hidden;
  }
}
.product-advantage{
  margin-bottom: 30px;
  &__list{
    font-size: 0;
    text-align: center;
    @media($bp-larger-than-phablet){
      margin-left: -10px;
      margin-right: -10px;
      a{
        text-decoration: none;
        color: #373737;
        &:hover{
          color: $blue;
        }
      }
    }
  }
  &__item{
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: center;
    @media($bp-larger-than-phablet){
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      width: 33.33%;
    }
    @media($bp-larger-than-desktop){
      width: 20%;
    }
    &--1{
      .product-advantage__card{
        &:hover{
            &:before {
              @include sprite($order-active);
            }
          }
        &:before{
          position: absolute;
          content: "";
          @include sprite($order);
          top: 25px;
          left: 50%;
          margin-left: -34px;
        }
      }
    }
    &--2{
      .product-advantage__card{
        &:hover{
          &:before {
            @include sprite($buy-active);
          }
        }
        &:before{
          position: absolute;
          content: "";
          @include sprite($buy);
          top: 46px;
          left: 50%;
          margin-left: -41px;
        }
      }
    }
    &--3{
      .product-advantage__card{
        &:hover{
          &:before {
            @include sprite($garante-active);
          }
        }
        &:before{
          position: absolute;
          content: "";
          @include sprite($garante);
          top: 33px;
          left: 50%;
          margin-left: -38px;
        }
      }
    }
    &--4{
      .product-advantage__card{
        &:hover{
          &:before {
            @include sprite($original-active);
          }
        }
        &:before{
          position: absolute;
          content: "";
          @include sprite($original);
          top: 29px;
          left: 50%;
          margin-left: -36px;
        }
      }
    }
    &--5{
      .product-advantage__card{
        &:hover{
          &:before {
            @include sprite($town-active);
          }
        }
        &:before{
          position: absolute;
          content: "";
          @include sprite($town);
          top: 23px;
          left: 50%;
          margin-left: -28px;
        }
      }
    }
  }
  &__card{
    padding: 20px;
    background-color: #fff;
    height: 200px;
    position: relative;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d7d7d7;
    &:hover{
      border: 1px solid #1d9fc5;
    }
  }
  &__name{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px 30px;
    text-align: center;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 16px;
  }
}
.table-scroll{
  width: 100%;
  overflow: auto;
}