/*
Light
Regular
Semibold
Bold
*/
$biruza: #008a9b;
$red: #b3071b;
$fon-gray: #4d4c4a;
$gray-light: #e8e8e8;
$green: #339933;
$anim: all 0.2s ease 0s;
$overlay: rgba(49,49,49,0.8);
$block-shadow-down: 0 12px 6px -8px #cacaca;
$anim5: all 0.5s;
$cubic: all 0.5s cubic-bezier(0.3, 0, 0.2, 1);
$blue: #0195c0;
$cubic02: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);