

.calculator{
  padding: 18px 0;
  background-color: #f7f7f7;
  @media($bp-larger-than-mobile) {
    padding: 46px 0;
  }
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-mobile) {
      margin-left: -15px;
      margin-right: -15px;
    }
    @media($bp-larger-than-desktop) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__column{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 390px;
    &--first{
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 18px;
      @media($bp-larger-than-tablet) {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      &:after{
        display: inline-block;
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        @media($bp-larger-than-tablet) {
          display: none;
        }
      }
    }
    &--second{
      position: relative;
      padding-bottom: 21px;
      margin-bottom: 11px;
      @media($bp-larger-than-tablet) {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      &:after{
        display: inline-block;
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        @media($bp-larger-than-tablet) {
          display: none;
        }
      }
    }
  }

  .calculator__column--second{
    .select-box{
      margin-bottom: 20px;
    }
  }
  .select-box{
    margin-bottom: 18px;
    &__label{
      font-size: 14px;
      font-family:FuturaFuturisCBold;
      font-weight: normal;
      margin-bottom: 1px;
    }
  }
  &__comment-box{
    margin-bottom: 15px;
  }
  &__comment{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    width: 100%;
    resize: none;
    height: 70px;
    border-radius: 3px;
    @media($bp-larger-than-mobile) {
      height: 277px;
    }
  }
  &__block-label{
    font-size: 14px;
    font-family:FuturaFuturisCBold;
    font-weight: normal;
    margin-bottom: 4px;
  }
  &__submit{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family:FuturaFuturisCBold;
    padding: 11px 30px 11px;
    letter-spacing: 0.5px;
    height: 36px;
    @media($bp-larger-than-mobile) {
      height: 47px;
      padding: 16px 30px 11px;
    }
  }
  &__submit-box{
    margin-bottom: 10px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 15px;
    }
  }
  &__reset-box{
    text-align: right;
  }
  &__reset{
    color: $red;
    font-size: 12px;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
  }
  &__panel{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 18px;
    margin-top: 18px;
    @media($bp-larger-than-tablet) {
      padding: 24px;
    }

  }
  .subcaption{
    margin-bottom: 10px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 38px;
    }
  }
}

$selectricHeight: 39px;
/*border #e8e8e8*/
.styled{
  &.selectricWrapper{
    width: 100%;
  }
  .selectric{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    height: $selectricHeight;
    line-height: $selectricHeight;
    .label{
      padding: 0px 5px 0px 18px;
      font-size: 14px;
      line-height: $selectricHeight;
    }
    .button{
      color: transparent;
      height: $selectricHeight;
      line-height: 37px;
      color: #333333;
      &:after{
        color: #333333;
        font-family:FontAwesome;
        content: "\f078";
        font-size: 10px;
      }
    }
  }
  .selectricItems{
    li{
      padding-left: 18px;
    }
  }
}
$checkboxSizeAgree: 15px;
.calculator{

  &__check-box {
    margin-bottom: 12px;
  }

}

.check-custom {
  position: relative;
  .checkbox-custom {
    width: $checkboxSizeAgree;
    height: $checkboxSizeAgree;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: $checkboxSizeAgree;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
    top: 0px;
  }
  .label {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    color: #333333;
    font-weight: normal;
    font-size: 14px;
    padding-left: 25px;
    cursor: pointer;
    font-weight: normal;
    &__caption{
      display: block;
      padding-top: 3px;
      font-family: FuturaFuturisCBold;
      margin-bottom: 4px;
      @media($bp-larger-than-mobile) {
        margin-bottom: 1px;
      }
    }
    &__hint{
      font-weight: normal;
      font-family: Tahoma;
      display: block;
      margin-bottom: 7px;
      line-height: 110%;
      font-size: 12px;
      @media($bp-larger-than-mobile) {
        font-size: 14px;
      }
    }
    &__price{
      font-family: Tahoma;
      display: block;
      line-height: 130%;
      @media($bp-larger-than-mobile) {
        font-size: 14px;
        font-family: GothamPro;
      }
    }
  }
  input.checkbox[type="checkbox"] {
    display: none;
  }
  .checkbox:checked + .checkbox-custom::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    line-height: $checkboxSizeAgree;
    position: absolute;
    color: $biruza;
    line-height: 100%;
  }
  .checkbox.error + .checkbox-custom {
    border-color: $red;
  }
}

.c-result{
  margin-bottom: 18px;
  padding-bottom: 22px;
  position: relative;
  &:after{
    display: inline-block;
    content: "";
    width: 143px;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 12px;
    @media($bp-larger-than-mobile) {
      justify-content: flex-start;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__empty{
    font-size: 12px;
  }
  &__label{
    color: #333333;
    font-family: FuturaFuturisCBold;
    font-size: 12px;
    flex: 1;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
  }
  &__value{
    font-size: 12px;
    @media($bp-larger-than-mobile) {
      font-size: 18px;
    }
  }
  &__cost{
    font-size: 16px;
    color: $biruza;
    font-family: Tahoma;
    font-weight: bold;
    @media($bp-larger-than-mobile) {
      font-size: 24px;
    }
  }
  &__period{
    font-size: 16px;
    color: $biruza;
    font-family: Tahoma;
    font-weight: bold;
    @media($bp-larger-than-mobile) {
      font-size: 24px;
    }
  }
}
.result-form{
  &__caption{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
    line-height: 130%;
    margin-left: -20px;
    margin-right: -20px;
    @media($bp-larger-than-mobile) {
      font-size: 13px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__submit{
    background-color: #e8e8e8;
    width: 100%;
    padding: 12px 30px 12px;
    text-align: center;
    color: #333333;
    font-size: 12px;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    transition: $anim;
    height: 38px;
    @media($bp-larger-than-mobile) {
      font-family: FuturaFuturisCBold;
      font-size: 14px;
      height: 47px;
      padding: 16px 30px 12px;
    }
    &:hover{
      background-color: #333333;
      color: #e8e8e8;
    }
  }
  &__input{
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding-left: 15px;
    &.error{
      border-color: $red;
      &:focus{
        border-color: $red;
      }
    }
  }
  &__item{
    margin-bottom: 14px;
    &:nth-child(4){
      margin-bottom: 9px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &--agree{
      @media($bp-larger-than-mobile) {
        text-align: center;
      }
      .check-custom{
        display: inline-block;
        @media($bp-larger-than-mobile) {
          margin-left: -16px;
        }
        .checkbox-custom{
          top: 3px;
          margin-right: 2px;
        }
        .label{
          font-size: 12px;
          padding-left: 18px;
          @media($bp-larger-than-mobile) {
            padding-left: 25px;
          }
        }
      }
    }
  }
}

.how-works{
  padding: 16px 0 12px;
  @media($bp-larger-than-mobile) {
    padding: 40px 0;
  }
  .subcaption{
    margin-bottom: 16px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 40px;
    }
  }
  &__box{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-desktophd) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__column{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media($bp-larger-than-mobile) {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
    @media($bp-larger-than-desktophd) {
      width: 50%;
    }
    &--about{
      p{
        margin: 6px 0 18px;
        font-size: 12px;
        @media($bp-larger-than-mobile) {
          margin: 6px 0 28px;
          line-height: 150%;
          font-size: inherit;
        }
      }
    }
    &--slider{
      padding-top: 0px;
      @media($bp-larger-than-mobile) {
        padding-top: 8px;
      }
    }
  }
  &__header{
    font-size: 18px;
    font-family: FuturaFuturisCBold;
    color: $biruza;
    margin-bottom: 11px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 16px;
      font-size: 36px;
    }
  }
}

.peoples{
  margin-left: -10px;
  margin-right: -10px;
  @media($bp-larger-than-mobile) {
    margin-left: -15px;
    margin-right: -15px;
  }
  &__item{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    @media($bp-larger-than-mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__name{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    @media($bp-larger-than-mobile) {
      font-size: 16px;
    }
  }
  &__staff{
    font-size: 10px;
    color: #7d7d7d;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
  }
  &__image-box{
    margin-bottom: 6px;
    border-radius: 2px;
    img{
      width: 100%;
    }
  }
}

$sliderButtonSize: 17px;
$sliderButtonSizeBig: 30px;

.people-slider{
  display: none;
  &.slick-initialized{
    display: block;
  }
  &.slick-dotted.slick-slider{
    margin-bottom: 15px;
    @media($bp-larger-than-mobile) {
      margin-bottom: inherit;
    }
  }
  .slick-next{
    top: 65px;
    width: $sliderButtonSize;
    height: $sliderButtonSize;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    right: 3px;
    z-index: 100;
    background-color: #fff;
    transition: $anim;
    @media($bp-larger-than-mobile) {
      top: 138px;
      right: 0;
      width: $sliderButtonSizeBig;
      height: $sliderButtonSizeBig;
    }
    &:hover{
      background-color: $biruza;
      color: #fff;
      border-color: $biruza;
      &:before{
        color: #fff;
      }
    }
  }
  .slick-next:before{
    color: $biruza;
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    font-size: 14px;
    transition: $anim;
    @media($bp-larger-than-mobile) {
      font-size: 18px;
    }
  }
  .slick-prev{
    top: 65px;
    border: 1px solid #e8e8e8;
    width: $sliderButtonSize;
    height: $sliderButtonSize;
    border-radius: 3px;
    z-index: 100;
    left: 3px;
    background-color: #fff;
    transition: $anim;
    @media($bp-larger-than-mobile) {
      top: 138px;
      left: 0;
      width: $sliderButtonSizeBig;
      height: $sliderButtonSizeBig;
    }
    &:hover{
      background-color: $biruza;
      border-color: $biruza;
      &:before{
        color: #fff;
      }
    }
  }
  .slick-prev:before{
    color: $biruza;
    font-family: FontAwesome;
    content: '\f104';
    display: inline-block;
    font-size: 14px;
    transition: $anim;
    @media($bp-larger-than-mobile) {
      font-size: 18px;
    }
  }
  .slick-dots{
    bottom: -11px;
    @media($bp-larger-than-mobile) {
      bottom: -29px;
    }
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
      margin: 0 5px;
    }
    button{
      width: 8px;
      height: 8px;
      @media($bp-larger-than-desktop){
        width: 13px;
        height: 13px;
      }
    }
  }
  .slick-dots li button::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px $biruza solid;
    border-radius: 3px;
    background-color: #fff;
    opacity: 1;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $biruza;
  }
  .slick-slide{
    > div{
      //text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
p.regards{
  margin-top: -4px;
  margin-bottom: 6px;
  font-size: 12px;
  font-family: FuturaFuturisCBold;
  @media($bp-larger-than-mobile) {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.contacts{
  background-color: #f7f7f7;
  padding: 17px 0 17px;
  @media($bp-larger-than-mobile) {
    padding: 40px 0 44px;
  }
  &__box{
    display: flex;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 4px 7px 18px 0px rgba(0, 138, 155, 0.07);
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      max-width: none;
      margin-top: 25px;
    }
  }
  &__item{
    width: 100%;
    padding: 45px 25px 20px 25px;
    text-align: center;
    position: relative;
    @media($bp-larger-than-mobile){
      padding: 66px 25px 25px 25px;
    }
    &:after{
      display: inline-block;
      background-color: #e8e8e8;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      height: 1px;
      content: "";
      @media($bp-larger-than-tablet){
        left: auto;
        right: 0;
        top: 30px;
        bottom: 30px;
        width: 1px;
        height: auto;
      }
    }
    &:last-child{
      &:after {
        display: none;
      }
    }
    &:before{
      font-family: FontAwesome;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      color: $biruza;
      display: inline-block;
      @media($bp-larger-than-mobile) {
        top: 20px;
      }
    }
    &--address{
      &:before{
        content: "\f041";
      }
    }
    &--worktime{
      &:before{
        content: "\f017";
      }
    }
    &--phone{
      &:before{
        content: "\f095";
      }
    }
    &--email{
      &:before{
        content: "\f0e0";
      }
    }
  }
  &__value{
    font-size: 12px;
    color: #777777;
    @media($bp-larger-than-mobile){
      font-size: 14px;
    }
  }
  &__name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    @media($bp-larger-than-mobile){
      font-size: 16px;
    }
  }
  &__map-box{
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
.photo-box{
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0;
  @media($bp-larger-than-mobile) {
    margin-left: -15px;
    margin-right: -15px;
  }
  &.slick-dotted{
    margin-bottom: 25px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 50px;
    }
  }
  &__item{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    @media($bp-larger-than-mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.photo-slider{
  .slick-dots{
    bottom: -21px;
    @media($bp-larger-than-mobile) {
      bottom: -47px;
    }
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
      margin: 0 5px;
    }
    button{
      width: 8px;
      height: 8px;
      @media($bp-larger-than-desktop){
        width: 13px;
        height: 13px;
      }
    }
  }
  .slick-dots li button::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px $biruza solid;
    border-radius: 3px;
    background-color: transparent;
    opacity: 1;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $biruza;
  }
  .slick-slide{
    > div{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        @media($bp-larger-than-desktop){
          width: inherit;
        }
      }
    }
  }
}

.howwork-slider{
  .slick-dots{
    bottom: -21px;
    @media($bp-larger-than-mobile) {
      bottom: -10px;
    }
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
      margin: 0 5px;
    }
    button{
      width: 8px;
      height: 8px;
      @media($bp-larger-than-desktop){
        width: 13px;
        height: 13px;
      }
    }
  }
  .slick-dots li button::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px $biruza solid;
    border-radius: 3px;
    background-color: transparent;
    opacity: 1;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $biruza;
  }
  .slick-slide{
    > div{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        @media($bp-larger-than-desktop){
          width: inherit;
        }
      }
    }
  }
}
.questions{
  background: $biruza url('/assets/template/images/questions__bg.jpg') left top;
  padding: 20px 0 20px;
  @media($bp-larger-than-mobile){
    padding: 68px 0 86px;
  }
  &__caption{
    color: #fff;
    font-size: 16px;
    font-family: FuturaFuturisCBold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
    @media($bp-larger-than-mobile){
      font-size: 44px;
      margin-bottom: 0;
    }
  }
  &__subcaption{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: FuturaFuturisCBold;
    letter-spacing: 0.5px;
    @media($bp-larger-than-mobile){
      font-size: 20px;
    }
  }
  &__box{
    display: flex;
    justify-content: center;
    margin-top: 21px;
    @media($bp-larger-than-mobile) {
      margin-top: 45px;
    }
  }
  &__item{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    @media($bp-larger-than-mobile){
      margin: 0 30px;
    }
    &:before{
      transition: $cubic02;
      display: inline-block;
      content: "";
      background-color: #fff;
      opacity: 0.5;
      opacity: 0.5;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: -1px;
      z-index: 1;
      border-radius: 50%;
    }
    &:hover{
      &:before{
        width: 80px;
        height: 80px;
      }
    }
    img{
      position: relative;
      z-index: 2;
      width: 32px;
      @media($bp-larger-than-mobile){
        width: inherit;
      }
    }
  }
}

.footer{
  padding: 16px 0;
  font-size: 12px;
  @media($bp-larger-than-mobile) {
    padding: 40px 0;
  }
  &__links{
    display: flex;
    flex-direction: column;
    text-align: center;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      text-align: left;
    }
    a{
      color: #333;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    @media($bp-larger-than-desktop){
      flex-direction: row;
    }
  }
  &__grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-desktop){
      flex-direction: row;
    }
  }
  &__dev{
    margin: 4px 0 0 0;
    @media($bp-larger-than-tablet){
      margin: 0 15px;
    }
    a{
      text-decoration: none;
      @media($bp-larger-than-mobile){
        text-decoration: underline;
      }
    }
  }
  &__privacy{
    margin: 0 10px 14px;
    @media($bp-larger-than-desktop){
      margin: 0 40px;
    }
    a{
      text-transform: uppercase;
    }
  }
  &__callback{
    margin-bottom: 15px;
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
    @media($bp-larger-than-desktop){
      margin: 0;
    }
    .btn-b{
      display: inline-block;
    }
  }
}

.samples{
  background-color: #f7f7f7;
  padding: 16px 0;
  @media($bp-larger-than-mobile){
    padding: 40px 0;
  }
  &__list{
    display: flex;
    //width: 100%;
    justify-content: space-around;
  }
  &__item{
    max-width: 360px;
  }
  &__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media($bp-larger-than-tablet){
      justify-content: space-between;
    }
  }
  &__card{
    max-width: 360px;
    background-color: #fff;
    box-shadow: 4px 7px 18px 0px rgba(0, 138, 155, 0.07);
    margin-bottom: 12px;
    @media($bp-larger-than-mobile){
      margin-bottom: 30px;
    }
    &:hover{
      .samples__image{
        transform: scale(1.2);
      }
    }
  }
  &__image-box{
    height: 165px;
    position: relative;
    overflow: hidden;
    @media($bp-larger-than-mobile){
      height: 207px;
    }

  }
  &__image{
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $cubic;
  }
  &__info{
    padding: 14px 15px;
    @media($bp-larger-than-mobile){
      padding: 20px 15px;
    }
  }
  &__name{
    font-size: 14px;
    font-weight: bold;
    color: $biruza;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 15px;
    }
  }
  &__description{
    font-size: 14px;
    color: #333333;
    line-height: 130%;
    margin-bottom: 10px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 17px;
    }
  }
  &__more-link{
    color: #9a9a9a;
    font-size: 13px;
    text-decoration: none;
    transition: $anim;
    position: relative;
    padding-right: 23px;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
    &:hover{
      color: #333;
    }
    &:before{
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: $red;
      display: inline-block;
      content: "";
      right: 0;
      bottom: 0;
      border-radius: 2px;
    }
    &:after{
      position: absolute;
      width: 14px;
      height: 14px;
      color: #fff;
      font-family: FontAwesome;
      content: "\f105";
      display: inline-block;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 14px;
      transform: translateX(0px);
      font-size: 12px;
      @media($bp-larger-than-mobile) {
        font-size: inherit;
      }
    }
  }
  &__more-box{
    text-align: center;
    .btn--arrow{
      font-size: 12px;
      width: 100%;
      height: 36px;
      line-height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 178px;
      @media($bp-larger-than-mobile) {
        height: 47px;
        line-height: 47px;
        max-width: 268px;
        font-size: 14px;
      }
      span{
        padding-right: 0;
        @media($bp-larger-than-mobile) {
          padding-right: 42px;
        }
        &:before{
          display: none;
          @media($bp-larger-than-mobile) {
            display: inherit;
          }
        }
        &:after{
          display: none;
          @media($bp-larger-than-mobile) {
            display: inherit;
          }
        }

      }
    }
  }
}

.services{
  padding: 16px 0 16px;
  background-color: #fff;
  @media($bp-larger-than-mobile) {
    padding: 46px 0 26px;
  }
  &__grid{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-desktop) {
      flex-direction: row;
      align-items: inherit;
    }
  }
  &__item{
    padding-left: 15px;
    padding-right: 15px;
    color: #333333;
    width: 100%;
    max-width: 390px;
    &--concepcia{
      .services__name{
        &:before{
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          @include sprite($predlog-1);
          position: absolute;
          margin-top: -5px;
        }
      }
    }
    &--design{
      .services__name{
        &:before{
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          @include sprite($predlog-2);
          position: absolute;
        }
      }
    }
    &--office{
      .services__name{
        &:before{
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          @include sprite($predlog-3);
          position: absolute;
        }
      }
    }
  }
  &__card{
    box-shadow: 2px 0px 8px 2px rgba(0, 138, 155, 0.07);
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    @media($bp-larger-than-mobile) {
      box-shadow: 4px 7px 18px 0px rgba(0, 138, 155, 0.15);
    }
    &--active{
      .services__bottom{
        display: block;
      }
      .services__top{
        &:after{
          display: inline-block;
        }
      }
      .services__arrow{
        transform: rotate(-90deg);
        &:after{
          bottom: 0;
        }
      }
    }
  }
  &__top{
    padding: 15px 25px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    @media($bp-larger-than-tablet) {
      cursor: inherit;
    }
    &:after{
      content: "";
      display: none;
      height: 1px;
      background-color: #e8e8e8;
      position: absolute;
      bottom: 0;
      left: 25px;
      right: 25px;
      @media($bp-larger-than-tablet) {
        display: inline-block;
      }
    }
  }
  &__bottom{
    display: none;
    @media($bp-larger-than-desktop) {
      display: inherit;
    }
  }
  &__arrow{
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $red;
    display: inline-block;
    border-radius: 2px;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    transform: rotate(90deg);
    transition: $cubic;
    @media($bp-larger-than-desktop) {
      display: none;
    }
    &:after{
      position: absolute;
      width: 14px;
      height: 14px;
      color: #fff;
      font-family: FontAwesome;
      content: "\f105";
      display: inline-block;
      right: 0;
      bottom: 1px;
      text-align: center;
      line-height: 14px;
      transform: translateX(0px);
      font-size: 12px;
      @media($bp-larger-than-mobile) {
        font-size: inherit;
      }
    }
  }
  &__name{
    font-size: 14px;
    color: #333333;
    font-family: FuturaFuturisCBold;
    padding-left: 54px;
    position: relative;
    @media($bp-larger-than-mobile) {
      font-size: 16px;
      padding-left: 65px;
    }
  }
  &__middle{
    padding: 25px 25px 5px 25px;
    font-size: 14px;
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      height: 1px;
      background-color: #e8e8e8;
      position: absolute;
      bottom: 0;
      left: 25px;
      right: 25px;
    }
    p{
      margin-top: 0;
      margin-bottom: 20px;
    }
    ul{
      margin-bottom: 0;
    }
    li{
      list-style-type: none;
      padding-left: 28px;
      position: relative;
      margin-bottom: 13px;
      line-height: 140%;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        width: 15px;
        height: 15px;
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        background: linear-gradient(135deg, #b3071b 0%, #008a9b 100%);
        border-radius: 50%;
        display: inline-block;
        content: "\f00c";
        font-family: FontAwesome;
        position: absolute;
        top: 2px;
        left: 0;
        text-align: center;
      }
    }
  }
  &__description{
    max-width: 275px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    @media($bp-larger-than-tablet) {
      min-height: 256px;
      padding-bottom: inherit;
    }
  }
  &__cost-line{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
  }
  &__cost-one{
    padding: 10px 25px;
    display: flex;
    height: 84px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $biruza;
    font-weight: bold;
  }
  .cost-value{
    font-size: 24px;
    color: $biruza;
    font-family: FuturaFuturisCBold;
  }
  &__button{
    display: flex;
    height: 54px;
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $red;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid $red;
    transition: $anim;
    &:hover{
      background-color: #fff;
      color: $red;
    }
  }
  &__hint{
    margin-top: 30px;
    font-size: 13px;
    margin-bottom: 24px;
    line-height: 140%;
    @media($bp-larger-than-tablet) {
      margin-top: auto;
    }
  }

}

.ruble{
  &:before{
    display: inline-block;
    content: '\f158';
    font-size: 14px;
    font-family: FontAwesome;
  }
}
.red-start{
  color: $red;
}

#map{
  height: 290px;
  width: 100%;
  @media($bp-larger-than-mobile) {
    height: 386px;
  }
  [class*="-ground-pane"] {
    filter:saturate(5%);
    -ms-filter: saturate(5%);
    -webkit-filter: saturate(5%);
    -moz-filter: saturate(5%);
    -o-filter: saturate(5%);
  }
  .popover {
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 1010;
    width: 260px;
    height: 151px;
    //transform: translate(-100%, -50%);
    @media($bp-larger-than-tablet) {
      width: 4000px;
    }
    @media($bp-larger-than-mobile) {
      width: 615px;
    }
    &__grid{
      display: flex;
      flex-direction: row;
      img {
        flex-shrink: 0;
        display: none;
        @media($bp-larger-than-mobile) {
          display: inline-block;
        }
      }
    }
    &__address{
      font-weight: bold;
      margin-bottom: 2px;
      display: block;
    }

  }
  .popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
    text-decoration: none;
    color: #333;
  }
  .popover-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
    > ymaps{
      display: inline-block !important;
      width: 100% !important;
      padding: 20px;
      @media($bp-larger-than-mobile) {
        padding: 28px 50px 28px 28px;
      }
    }
  }
}

