

.calculator{
  padding: 20px 0;
  background-color: #f7f7f7;
  &__box{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-desktophd) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__column{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 390px;
  }
  .calculator__column--second{
    .select-box{
      margin-bottom: 20px;
    }
  }
  .select-box{
    margin-bottom: 18px;
    &__label{
      font-size: 14px;
      font-family:FuturaFuturisCBold;
      font-weight: normal;
      margin-bottom: 1px;
    }
  }
  &__comment-box{
    margin-bottom: 15px;
  }
  &__comment{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    width: 100%;
    resize: none;
    height: 70px;
    border-radius: 3px;
    @media($bp-larger-than-mobile) {
      height: 277px;
    }
  }
  &__block-label{
    font-size: 14px;
    font-family:FuturaFuturisCBold;
    font-weight: normal;
    margin-bottom: 4px;
  }
  &__submit{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family:FuturaFuturisCBold;
    padding: 18px 30px 11px;
    letter-spacing: 0.5px;
    height: 47px;
  }
  &__submit-box{
    margin-bottom: 15px;
  }
  &__reset-box{
    text-align: right;
  }
  &__reset{
    font-size: 14px;
    color: $red;
  }
  &__panel{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 24px;
    margin-top: 18px;
  }
  .subcaption{
    margin-bottom: 38px;
  }
}

$selectricHeight: 39px;
/*border #e8e8e8*/
.styled{
  &.selectricWrapper{
    width: 100%;
  }
  .selectric{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    height: $selectricHeight;
    line-height: $selectricHeight;
    .label{
      padding: 0px 5px 0px 18px;
      font-size: 14px;
      line-height: $selectricHeight;
    }
    .button{
      color: transparent;
      height: $selectricHeight;
      line-height: $selectricHeight;
      color: #333333;
      &:after{
        color: #333333;
        font-family:FontAwesome;
        content: "\f078";
        font-size: 10px;
      }
    }
  }
  .selectricItems{
    li{
      padding-left: 18px;
    }
  }
}
$checkboxSizeAgree: 15px;
.calculator{
  &__check-box {
    margin-bottom: 12px;
  }
  .check-custom {
    position: relative;
    .checkbox-custom {
      width: $checkboxSizeAgree;
      height: $checkboxSizeAgree;
      border: 1px solid #aeaeae;
      border-radius: 3px;
      box-sizing: border-box;
      line-height: $checkboxSizeAgree;
      text-align: center;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      cursor: pointer;
      position: absolute;
      top: 0px;
    }
    .label {
      display: inline-block;
      line-height: 100%;
      vertical-align: middle;
      color: #333333;
      font-weight: normal;
      font-size: 14px;
      padding-left: 25px;
      cursor: pointer;
      font-weight: normal;
      &__caption{
        display: block;
        padding-top: 3px;
        font-family: FuturaFuturisCBold;
        margin-bottom: 1px;
      }
      &__hint{
        font-weight: normal;
        font-family: Tahoma;
        display: block;
        margin-bottom: 7px;
        line-height: 110%;
      }
      &__price{
        font-family: GothamPro;
        display: block;
        line-height: 130%;
      }
    }
    input.checkbox[type="checkbox"] {
      display: none;
    }
    .checkbox:checked + .checkbox-custom::before {
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      line-height: $checkboxSizeAgree;
      position: absolute;
      color: $biruza;
      line-height: 100%;
    }
  }
}
.c-result{
  margin-bottom: 18px;
  padding-bottom: 22px;
  position: relative;
  &:after{
    display: inline-block;
    content: "";
    width: 143px;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 12px;
    @media($bp-larger-than-mobile) {
      justify-content: flex-start;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__label{
    color: #333333;
    font-family: FuturaFuturisCBold;
    font-size: 12px;
    flex: 1;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
  }
  &__value{
    font-size: 12px;
    @media($bp-larger-than-mobile) {
      font-size: 18px;
    }
  }
  &__cost{
    font-size: 16px;
    color: $biruza;
    font-family: Tahoma;
    font-weight: bold;
    @media($bp-larger-than-mobile) {
      font-size: 24px;
    }
  }
  &__period{
    font-size: 16px;
    color: $biruza;
    font-family: Tahoma;
    font-weight: bold;
    @media($bp-larger-than-mobile) {
      font-size: 24px;
    }
  }
}
.result-form{
  &__caption{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
    line-height: 130%;
    margin-left: -20px;
    margin-right: -20px;
    @media($bp-larger-than-mobile) {
      font-size: 13px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__submit{
    background-color: #e8e8e8;
    width: 100%;
    padding: 16px 30px 12px;
    text-align: center;
    font-family: FuturaFuturisCBold;
    color: #333333;
    font-size: 14px;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    transition: $anim;
    height: 47px;
    &:hover{
      background-color: #333333;
      color: #e8e8e8;
    }
  }
  &__input{
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding-left: 15px;
  }
  &__item{
    margin-bottom: 14px;
    &:nth-child(4){
      margin-bottom: 9px;
    }
    &--agree{
      @media($bp-larger-than-mobile) {
        text-align: center;
      }
      .check-custom{
        display: inline-block;
        @media($bp-larger-than-mobile) {
          margin-left: -16px;
        }
        .checkbox-custom{
          top: 3px;
          margin-right: 2px;
        }
        .label{
          font-size: 12px;
          padding-left: 18px;
          @media($bp-larger-than-mobile) {
            padding-left: 25px;
          }
        }
      }
    }
  }
}

.how-works{
  padding: 40px 0;
  &__box{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-desktophd) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__column{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media($bp-larger-than-mobile) {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
    @media($bp-larger-than-desktophd) {
      width: 50%;
    }
    &--about{
      p{
        margin: 6px 0 28px;
      }
    }
    &--slider{
      padding-top: 8px;
    }
  }
  &__header{
    font-size: 36px;
    font-family: FuturaFuturisCBold;
    color: $biruza;
    margin-bottom: 16px;
  }
}

.peoples{
  margin-left: -15px;
  margin-right: -15px;
  &__item{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  &__staff{
    font-size: 14px;
    color: #7d7d7d;
  }
  &__image-box{
    margin-bottom: 6px;
    border-radius: 2px;
    img{
      width: 100%;
    }
  }
}

$sliderButtonSize: 30px;
.people-slider{
  display: none;
  &.slick-initialized{
    display: block;
  }
  .slick-next{
    top: 138px;
    width: $sliderButtonSize;
    height: $sliderButtonSize;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    right: 0;
    z-index: 100;
    background-color: #fff;
    transition: $anim;
    &:hover{
      background-color: $biruza;
      color: #fff;
      border-color: $biruza;
      &:before{
        color: #fff;
      }
    }
  }
  .slick-next:before{
    color: $biruza;
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    font-size: 18px;
    transition: $anim;
  }
  .slick-prev{
    top: 138px;
    border: 1px solid #e8e8e8;
    width: $sliderButtonSize;
    height: $sliderButtonSize;
    border-radius: 3px;
    z-index: 100;
    left: 0;
    background-color: #fff;
    transition: $anim;
    &:hover{
      background-color: $biruza;
      border-color: $biruza;
      &:before{
        color: #fff;
      }
    }
  }
  .slick-prev:before{
    color: $biruza;
    font-family: FontAwesome;
    content: '\f104';
    display: inline-block;
    font-size: 18px;
    transition: $anim;
  }
  .slick-dots{
    bottom: -29px;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
      margin: 0 5px;
    }
    button{
      width: 10px;
      height: 10px;
      @media($bp-larger-than-desktop){
        width: 13px;
        height: 13px;
      }
    }
  }
  .slick-dots li button::before {
    content: "";
    width: 10px;
    height: 10px;
    border: 1px $biruza solid;
    border-radius: 3px;
    background-color: #fff;
    opacity: 1;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $biruza;
  }
  .slick-slide{
    > div{
      //text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
p.regards{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: FuturaFuturisCBold;
}

.contacts{
  background-color: #f7f7f7;
  padding: 40px 0 44px;
  &__box{
    display: flex;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 4px 7px 18px 0px rgba(0, 138, 155, 0.07);
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      max-width: none;
      margin-top: 25px;
    }
  }
  &__item{
    width: 100%;
    padding: 45px 25px 20px 25px;
    text-align: center;
    position: relative;
    @media($bp-larger-than-mobile){
      padding: 66px 25px 25px 25px;
    }
    &:after{
      display: inline-block;
      background-color: #e8e8e8;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      height: 1px;
      content: "";
      @media($bp-larger-than-tablet){
        left: auto;
        right: 0;
        top: 30px;
        bottom: 30px;
        width: 1px;
        height: auto;
      }
    }
    &:last-child{
      &:after {
        display: none;
      }
    }
    &:before{
      font-family: FontAwesome;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      color: $biruza;
      display: inline-block;
    }
    &--address{
      &:before{
        content: "\f041";
      }
    }
    &--worktime{
      &:before{
        content: "\f017";
      }
    }
    &--phone{
      &:before{
        content: "\f095";
      }
    }
    &--email{
      &:before{
        content: "\f0e0";
      }
    }
  }
  &__value{
    font-size: 12px;
    color: #777777;
    @media($bp-larger-than-mobile){
      font-size: 14px;
    }
  }
  &__name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    @media($bp-larger-than-mobile){
      font-size: 16px;
    }
  }
  &__map-box{
    height: 100px;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
.photo-box{
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
  &.slick-dotted{
    margin-bottom: 50px;
  }
  &__item{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }
}
.photo-slider{
  .slick-dots{
    bottom: -47px;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
      margin: 0 5px;
    }
    button{
      width: 10px;
      height: 10px;
      @media($bp-larger-than-desktop){
        width: 13px;
        height: 13px;
      }
    }
  }
  .slick-dots li button::before {
    content: "";
    width: 10px;
    height: 10px;
    border: 1px $biruza solid;
    border-radius: 3px;
    background-color: transparent;
    opacity: 1;
    @media($bp-larger-than-desktop){
      width: 13px;
      height: 13px;
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $biruza;
  }
  .slick-slide{
    > div{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        @media($bp-larger-than-desktop){
          width: inherit;
        }
      }
    }
  }
}
.questions{
  background: $biruza url('/assets/template/images/questions__bg.jpg') left top;
  padding: 20px 0 20px;
  @media($bp-larger-than-mobile){
    padding: 68px 0 86px;
  }
  &__caption{
    color: #fff;
    font-size: 16px;
    font-family: FuturaFuturisCBold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
    @media($bp-larger-than-mobile){
      font-size: 44px;
      margin-bottom: 0;
    }
  }
  &__subcaption{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: FuturaFuturisCBold;
    letter-spacing: 0.5px;
    @media($bp-larger-than-mobile){
      font-size: 20px;
    }
  }
  &__box{
    display: flex;
    justify-content: center;
    margin-top: 21px;
    @media($bp-larger-than-mobile) {
      margin-top: 45px;
    }
  }
  &__item{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    @media($bp-larger-than-mobile){
      margin: 0 30px;
    }
    &:before{
      transition: $cubic02;
      display: inline-block;
      content: "";
      background-color: #fff;
      opacity: 0.5;
      opacity: 0.5;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: -1px;
      z-index: 1;
      border-radius: 50%;
    }
    &:hover{
      &:before{
        width: 80px;
        height: 80px;
      }
    }
    img{
      position: relative;
      z-index: 2;
      width: 32px;
      @media($bp-larger-than-mobile){
        width: inherit;
      }
    }
  }
}

.footer{
  padding: 40px 0;
  font-size: 12px;
  &__links{
    display: flex;
    flex-direction: column;
    text-align: center;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      text-align: left;
    }
    a{
      color: #333;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    @media($bp-larger-than-desktop){
      flex-direction: row;
    }
  }
  &__grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-desktop){
      flex-direction: row;
    }
  }
  &__dev{
    margin: 4px 0 0 0;
    @media($bp-larger-than-tablet){
      margin: 0 15px;
    }
    a{
      text-decoration: none;
      @media($bp-larger-than-mobile){
        text-decoration: underline;
      }
    }
  }
  &__privacy{
    margin: 0 10px 14px;
    @media($bp-larger-than-desktop){
      margin: 0 40px;
    }
    a{
      text-transform: uppercase;
    }
  }
  &__callback{
    margin-bottom: 15px;
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
    @media($bp-larger-than-desktop){
      margin: 0;
    }
    .btn-b{
      display: inline-block;
    }
  }
}

.samples{
  padding: 40px 0;
  background-color: #f7f7f7;
  &__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card{
    max-width: 360px;
    background-color: #fff;
    box-shadow: 4px 7px 18px 0px rgba(0, 138, 155, 0.07);
    margin-bottom: 30px;
    &:hover{
      .samples__image{
        transform: scale(1.2);
      }
    }
  }
  &__image-box{
    height: 207px;
    position: relative;
    overflow: hidden;
  }
  &__image{
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $cubic;
  }
  &__info{
    padding: 20px 15px;
  }
  &__name{
    font-size: 14px;
    font-weight: bold;
    color: $biruza;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__description{
    font-size: 14px;
    color: #333333;
    line-height: 130%;
    margin-bottom: 17px;
  }
  &__more-link{
    color: #9a9a9a;
    font-size: 14px;
    text-decoration: none;
    transition: $anim;
    position: relative;
    padding-right: 23px;
    &:hover{
      color: #333;
    }
    &:before{
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: $red;
      display: inline-block;
      content: "";
      right: 0;
      bottom: 0;
      border-radius: 2px;
    }
    &:after{
      position: absolute;
      width: 14px;
      height: 14px;
      color: #fff;
      font-family: FontAwesome;
      content: "\f105";
      display: inline-block;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 14px;
      transform: translateX(0px);
    }
  }
  &__more-box{
    text-align: center;
    .btn--arrow{
      font-size: 14px;
      max-width: 268px;
      width: 100%;
    }
  }
}

.services{
  padding: 46px 0 26px;
  background-color: #fff;
  &__grid{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }
  &__item{
    padding-left: 15px;
    padding-right: 15px;
    color: #333333;
    width: 100%;
    &--concepcia{
      .services__name{
        &:before{
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          @include sprite($predlog-1);
          position: absolute;
          margin-top: -5px;
        }
      }
    }
    &--design{
      .services__name{
        &:before{
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          @include sprite($predlog-2);
          position: absolute;
        }
      }
    }
    &--office{
      .services__name{
        &:before{
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          @include sprite($predlog-3);
          position: absolute;
        }
      }
    }
  }
  &__card{
    box-shadow: 4px 7px 18px 0px rgba(0, 138, 155, 0.15);
    max-width: 356px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__top{
    padding: 15px 25px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    &:after{
      content: "";
      display: inline-block;
      height: 1px;
      background-color: #e8e8e8;
      position: absolute;
      bottom: 0;
      left: 25px;
      right: 25px;
    }
  }
  &__name{
    font-size: 16px;
    color: #333333;
    font-family: FuturaFuturisCBold;
    padding-left: 65px;
    position: relative;
  }
  &__middle{
    padding: 25px 25px 5px 25px;
    font-size: 14px;
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      height: 1px;
      background-color: #e8e8e8;
      position: absolute;
      bottom: 0;
      left: 25px;
      right: 25px;
    }
    p{
      margin-top: 0;
      margin-bottom: 20px;
    }
    ul{
      margin-bottom: 0;
    }
    li{
      list-style-type: none;
      padding-left: 28px;
      position: relative;
      margin-bottom: 13px;
      line-height: 140%;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        width: 15px;
        height: 15px;
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        background: linear-gradient(135deg, #b3071b 0%, #008a9b 100%);
        border-radius: 50%;
        display: inline-block;
        content: "\f00c";
        font-family: FontAwesome;
        position: absolute;
        top: 1px;
        left: 0;
        text-align: center;
      }
    }
  }
  &__description{
    max-width: 275px;
    display: flex;
    flex-direction: column;
    min-height: 256px;
  }
  &__cost-line{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
  }
  &__cost-one{
    padding: 10px 25px;
    display: flex;
    height: 84px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $biruza;
    font-weight: bold;
  }
  .cost-value{
    font-size: 24px;
    color: $biruza;
    font-family: FuturaFuturisCBold;
  }
  &__button{
    display: flex;
    height: 54px;
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $red;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid $red;
    transition: $anim;
    &:hover{
      background-color: #fff;
      color: $red;
    }
  }
  &__hint{
    margin-top: auto;
    font-size: 13px;
    margin-bottom: 24px;
    line-height: 140%;
  }

}

.ruble{
  &:before{
    display: inline-block;
    content: '\f158';
    font-size: 14px;
    font-family: FontAwesome;
  }
}
.red-start{
  color: $red;
}

#map{
  height: 290px;
  width: 100%;
  @media($bp-larger-than-mobile) {
    height: 386px;
  }
  [class*="-ground-pane"] {
    filter:saturate(5%);
    -ms-filter: saturate(5%);
    -webkit-filter: saturate(5%);
    -moz-filter: saturate(5%);
    -o-filter: saturate(5%);
  }
  .popover {
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 1010;
    width: 260px;
    height: 151px;
    //transform: translate(-100%, -50%);
    @media($bp-larger-than-tablet) {
      width: 4000px;
    }
    @media($bp-larger-than-mobile) {
      width: 615px;
    }
    &__grid{
      display: flex;
      flex-direction: row;
      img {
        flex-shrink: 0;
        display: none;
        @media($bp-larger-than-mobile) {
          display: inline-block;
        }
      }
    }
    &__address{
      font-weight: bold;
      margin-bottom: 2px;
      display: block;
    }

  }
  .popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
    text-decoration: none;
    color: #333;
  }
  .popover-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
    > ymaps{
      display: inline-block !important;
      width: 100% !important;
      padding: 20px;
      @media($bp-larger-than-mobile) {
        padding: 28px 50px 28px 28px;
      }
    }
  }
}

