<div class="order-cart__row">
    <div class="order-cart__name">
        <div class="order-cart__name-table">
            <div class="order-cart__image">
                <img src="/assets/template/images/tmp/catalog-item.jpg" alt="">
            </div>
            <div class="order-cart__name-box">
                <div class="order-cart__product-name">Амортизатор, CIFAM, 202035</div>
                <div class="order-line row">
                    <span class="order-line__key">Линия:</span>
                    <span class="order-line__value">Комфорт</span>
                </div>
            </div>
        </div>
    </div>
    <div class="order-cart__params">
        <div class="order-param row">
            <span class="order-param__key">Размер коробки (см):</span>
            <span class="order-param__value">150х20х50</span>
        </div>
        <div class="order-param row">
            <span class="order-param__key">Вес (г):</span>
            <span class="order-param__value">450</span>
        </div>
    </div>
    <div class="order-cart__quontity">
        <form action="">
            <div class="quontity">
                <span class="bminus">&ndash;</span>
                <input data-current="1" data-price="0,00" class="js_zcount count_live" type="text" name="count" value="1" placeholder="">
                <span class="bplus">+</span>
            </div>
        </form>
    </div>
    <div class="order-cart__price">
        760 р.
    </div>
    <div class="order-cart__delete">
        <form action="">
            <button type="submit" class="btn-delete"></button>
        </form>
    </div>

</div>