<div class="catalogline-card__box">
    <div class="catalogline-card">
        <div class="catalogline-card__image">
            <img src="/assets/template/images/tmp/catalog-item.jpg" alt="">
        </div>
        <div class="catalogline-card__info">
            <div class="catalogline-card__name">
                <span>Амортизатор, CIFAM, 202035</span>
            </div>
            <div class="catalogline-line row">
                <span class="catalogline-line__key">Линия:</span>
                <span class="catalogline-line__value">Комфорт</span>
            </div>
            <div class="catalogline-line row">
                <span class="catalogline-line__key">Применяемость для А/М:</span>
                <span class="catalogline-line__value">VAZ 1117,1118,11192,1902,191;  DATSUN mi-DO (15-), on-DO (14-);  LADA (ВАЗ) Kalina (04-), Kalina II (13-), Granta (10-)</span>
            </div>
        </div>
        <div class="catalogline-card__actions">
            <div class="priceline">
                <span class="priceline__key">Цена:</span>
                <span class="priceline__value">760 р.</span>
            </div>
            <div class="product-card__actions">
                <form action="">
                    <div class="quontity">
                        <span class="bminus">&ndash;</span>
                        <input data-current="1" data-price="0,00" class="js_zcount count_live" type="text" name="count" value="1" placeholder="">
                        <span class="bplus">+</span>
                    </div>
                    <button type="submit" class="catalog-card__submit btn">Добавить в корзину</button>
                </form>
            </div>
        </div>
    </div>
</div>