<div class="certificate__item">
    <div class="certificate__card">
        <div class="certificate__imagebox">
            <a href="/assets/template/images/tmp/certificate-big.jpg" class="zoom certificate__image" title="Название сертификата">
                <img src="/assets/template/images/tmp/certificate.jpg">
            </a>
        </div>
        <div class="certificate__caption">
            <a href="" class="certificate__label">Наименование сертификата</a>
        </div>
    </div>
</div>