<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
    <link rel="stylesheet" href="/assets/template/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="assets/template/css/main.min.css">
    <!-- @endif -->
</head>
<body>



<div class="header">
    <div class="topline">
        <div class="container">
            <div class="header__burger"><span></span></div>
            <div class="topline-menu columns">
                <ul class="topline-menu__list">
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Оптовым покупателям</a></li>
                </ul>
            </div>
            <div class="topline-right">
                <div class="topline-right__time">Время работы консультанта 09.00 - 23.00</div>
                <a href="tel:88005005569" class="topline-right__phone">8 800 500 55 69</a>
                <div class="topline-right__address">г. Тольятти Коммунистическая 100</div>
            </div>

        </div>
    </div>
    <div class="header__body">
        <div class="container">
            <a href="/" class="logo-top"><img src="/assets/template/images/logo-top.png" alt=""></a>
            <div class="header__right">
                <a href="#" class="header__cart">Корзина</a>
                <div class="header-search">
                    <form action="">
                        <input class="header-search__input" placeholder="" type="text">
                        <button class="header-search__submit"></button>
                    </form>
                </div>
            </div>
            <div class="top-menu">
                <div class="top-menu__burger">Каталог</div>
                <ul class="top-menu__list">
                    <li><a href="#">Подвеска</a></li>
                    <li><a href="#">Трансмиссия</a></li>
                    <li class="active"><a href="#">Тормозная система</a></li>
                    <li><a href="#">Гидравлическая система</a></li>
                    <li><a href="#">Двигатель</a></li>
                    <li><a href="#">Разное</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>
