<div class="shipping-implement row">
    <div class="shipping-implement__item row shipping-implement__item--name">
        <div class="shipping-implement__caption">Наименование:</div>
        <div class="shipping-implement__value">ООО Варяг</div>
    </div>
    <div class="shipping-implement__item shipping-implement__item--address">
        <div class="shipping-implement__caption">Адрес:</div>
        <div class="shipping-implement__value">г. Тольятти ул. Строителей, 58</div>
    </div>
    <div class="shipping-implement__item shipping-implement__item--phone">
        <div class="shipping-implement__caption">Телефон:</div>
        <div class="shipping-implement__value">8 800 957 98 78</div>
    </div>
</div>