// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$predlog-1-name: 'predlog-1';
$predlog-1-x: 0px;
$predlog-1-y: 172px;
$predlog-1-offset-x: 0px;
$predlog-1-offset-y: -172px;
$predlog-1-width: 40px;
$predlog-1-height: 47px;
$predlog-1-total-width: 226px;
$predlog-1-total-height: 219px;
$predlog-1-image: '/assets/template/css/sprites/sprite.png';
$predlog-1: (0px, 172px, 0px, -172px, 40px, 47px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'predlog-1', );
$predlog-2-name: 'predlog-2';
$predlog-2-x: 172px;
$predlog-2-y: 64px;
$predlog-2-offset-x: -172px;
$predlog-2-offset-y: -64px;
$predlog-2-width: 50px;
$predlog-2-height: 50px;
$predlog-2-total-width: 226px;
$predlog-2-total-height: 219px;
$predlog-2-image: '/assets/template/css/sprites/sprite.png';
$predlog-2: (172px, 64px, -172px, -64px, 50px, 50px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'predlog-2', );
$predlog-3-name: 'predlog-3';
$predlog-3-x: 120px;
$predlog-3-y: 64px;
$predlog-3-offset-x: -120px;
$predlog-3-offset-y: -64px;
$predlog-3-width: 49px;
$predlog-3-height: 50px;
$predlog-3-total-width: 226px;
$predlog-3-total-height: 219px;
$predlog-3-image: '/assets/template/css/sprites/sprite.png';
$predlog-3: (120px, 64px, -120px, -64px, 49px, 50px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'predlog-3', );
$work-1-name: 'work-1';
$work-1-x: 0px;
$work-1-y: 64px;
$work-1-offset-x: 0px;
$work-1-offset-y: -64px;
$work-1-width: 64px;
$work-1-height: 64px;
$work-1-total-width: 226px;
$work-1-total-height: 219px;
$work-1-image: '/assets/template/css/sprites/sprite.png';
$work-1: (0px, 64px, 0px, -64px, 64px, 64px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'work-1', );
$work-2-name: 'work-2';
$work-2-x: 0px;
$work-2-y: 0px;
$work-2-offset-x: 0px;
$work-2-offset-y: 0px;
$work-2-width: 86px;
$work-2-height: 64px;
$work-2-total-width: 226px;
$work-2-total-height: 219px;
$work-2-image: '/assets/template/css/sprites/sprite.png';
$work-2: (0px, 0px, 0px, 0px, 86px, 64px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'work-2', );
$work-3-name: 'work-3';
$work-3-x: 64px;
$work-3-y: 64px;
$work-3-offset-x: -64px;
$work-3-offset-y: -64px;
$work-3-width: 56px;
$work-3-height: 62px;
$work-3-total-width: 226px;
$work-3-total-height: 219px;
$work-3-image: '/assets/template/css/sprites/sprite.png';
$work-3: (64px, 64px, -64px, -64px, 56px, 62px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'work-3', );
$work-4-name: 'work-4';
$work-4-x: 172px;
$work-4-y: 0px;
$work-4-offset-x: -172px;
$work-4-offset-y: 0px;
$work-4-width: 54px;
$work-4-height: 64px;
$work-4-total-width: 226px;
$work-4-total-height: 219px;
$work-4-image: '/assets/template/css/sprites/sprite.png';
$work-4: (172px, 0px, -172px, 0px, 54px, 64px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'work-4', );
$work-5-name: 'work-5';
$work-5-x: 86px;
$work-5-y: 0px;
$work-5-offset-x: -86px;
$work-5-offset-y: 0px;
$work-5-width: 86px;
$work-5-height: 62px;
$work-5-total-width: 226px;
$work-5-total-height: 219px;
$work-5-image: '/assets/template/css/sprites/sprite.png';
$work-5: (86px, 0px, -86px, 0px, 86px, 62px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'work-5', );
$zvonokh-name: 'zvonokh';
$zvonokh-x: 0px;
$zvonokh-y: 128px;
$zvonokh-offset-x: 0px;
$zvonokh-offset-y: -128px;
$zvonokh-width: 44px;
$zvonokh-height: 44px;
$zvonokh-total-width: 226px;
$zvonokh-total-height: 219px;
$zvonokh-image: '/assets/template/css/sprites/sprite.png';
$zvonokh: (0px, 128px, 0px, -128px, 44px, 44px, 226px, 219px, '/assets/template/css/sprites/sprite.png', 'zvonokh', );
$spritesheet-width: 226px;
$spritesheet-height: 219px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($predlog-1, $predlog-2, $predlog-3, $work-1, $work-2, $work-3, $work-4, $work-5, $zvonokh, );
$spritesheet: (226px, 219px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
