// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 280px;
$address-y: 153px;
$address-offset-x: -280px;
$address-offset-y: -153px;
$address-width: 21px;
$address-height: 26px;
$address-total-width: 378px;
$address-total-height: 295px;
$address-image: '/assets/template/css/sprites/sprite.png';
$address: (280px, 153px, -280px, -153px, 21px, 26px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'address', );
$arrow-menu-name: 'arrow-menu';
$arrow-menu-x: 363px;
$arrow-menu-y: 269px;
$arrow-menu-offset-x: -363px;
$arrow-menu-offset-y: -269px;
$arrow-menu-width: 7px;
$arrow-menu-height: 10px;
$arrow-menu-total-width: 378px;
$arrow-menu-total-height: 295px;
$arrow-menu-image: '/assets/template/css/sprites/sprite.png';
$arrow-menu: (363px, 269px, -363px, -269px, 7px, 10px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'arrow-menu', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 299px;
$arrow-right-y: 138px;
$arrow-right-offset-x: -299px;
$arrow-right-offset-y: -138px;
$arrow-right-width: 6px;
$arrow-right-height: 11px;
$arrow-right-total-width: 378px;
$arrow-right-total-height: 295px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (299px, 138px, -299px, -138px, 6px, 11px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$buy-active-name: 'buy-active';
$buy-active-x: 0px;
$buy-active-y: 103px;
$buy-active-offset-x: 0px;
$buy-active-offset-y: -103px;
$buy-active-width: 92px;
$buy-active-height: 85px;
$buy-active-total-width: 378px;
$buy-active-total-height: 295px;
$buy-active-image: '/assets/template/css/sprites/sprite.png';
$buy-active: (0px, 103px, 0px, -103px, 92px, 85px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'buy-active', );
$buy-name: 'buy';
$buy-x: 156px;
$buy-y: 0px;
$buy-offset-x: -156px;
$buy-offset-y: 0px;
$buy-width: 92px;
$buy-height: 85px;
$buy-total-width: 378px;
$buy-total-height: 295px;
$buy-image: '/assets/template/css/sprites/sprite.png';
$buy: (156px, 0px, -156px, 0px, 92px, 85px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'buy', );
$cart-name: 'cart';
$cart-x: 293px;
$cart-y: 227px;
$cart-offset-x: -293px;
$cart-offset-y: -227px;
$cart-width: 20px;
$cart-height: 19px;
$cart-total-width: 378px;
$cart-total-height: 295px;
$cart-image: '/assets/template/css/sprites/sprite.png';
$cart: (293px, 227px, -293px, -227px, 20px, 19px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'cart', );
$check-name: 'check';
$check-x: 363px;
$check-y: 260px;
$check-offset-x: -363px;
$check-offset-y: -260px;
$check-width: 12px;
$check-height: 9px;
$check-total-width: 378px;
$check-total-height: 295px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (363px, 260px, -363px, -260px, 12px, 9px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'check', );
$delete-name: 'delete';
$delete-x: 212px;
$delete-y: 143px;
$delete-offset-x: -212px;
$delete-offset-y: -143px;
$delete-width: 20px;
$delete-height: 20px;
$delete-total-width: 378px;
$delete-total-height: 295px;
$delete-image: '/assets/template/css/sprites/sprite.png';
$delete: (212px, 143px, -212px, -143px, 20px, 20px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'delete', );
$facebook-active-name: 'facebook-active';
$facebook-active-x: 172px;
$facebook-active-y: 103px;
$facebook-active-offset-x: -172px;
$facebook-active-offset-y: -103px;
$facebook-active-width: 40px;
$facebook-active-height: 40px;
$facebook-active-total-width: 378px;
$facebook-active-total-height: 295px;
$facebook-active-image: '/assets/template/css/sprites/sprite.png';
$facebook-active: (172px, 103px, -172px, -103px, 40px, 40px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'facebook-active', );
$facebook-name: 'facebook';
$facebook-x: 132px;
$facebook-y: 103px;
$facebook-offset-x: -132px;
$facebook-offset-y: -103px;
$facebook-width: 40px;
$facebook-height: 40px;
$facebook-total-width: 378px;
$facebook-total-height: 295px;
$facebook-image: '/assets/template/css/sprites/sprite.png';
$facebook: (132px, 103px, -132px, -103px, 40px, 40px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'facebook', );
$footer-menu-arrow-name: 'footer-menu-arrow';
$footer-menu-arrow-x: 293px;
$footer-menu-arrow-y: 138px;
$footer-menu-arrow-offset-x: -293px;
$footer-menu-arrow-offset-y: -138px;
$footer-menu-arrow-width: 6px;
$footer-menu-arrow-height: 11px;
$footer-menu-arrow-total-width: 378px;
$footer-menu-arrow-total-height: 295px;
$footer-menu-arrow-image: '/assets/template/css/sprites/sprite.png';
$footer-menu-arrow: (293px, 138px, -293px, -138px, 6px, 11px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'footer-menu-arrow', );
$garant-name: 'garant';
$garant-x: 248px;
$garant-y: 153px;
$garant-offset-x: -248px;
$garant-offset-y: -153px;
$garant-width: 32px;
$garant-height: 32px;
$garant-total-width: 378px;
$garant-total-height: 295px;
$garant-image: '/assets/template/css/sprites/sprite.png';
$garant: (248px, 153px, -248px, -153px, 32px, 32px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'garant', );
$garante-active-name: 'garante-active';
$garante-active-x: 0px;
$garante-active-y: 0px;
$garante-active-offset-x: 0px;
$garante-active-offset-y: 0px;
$garante-active-width: 78px;
$garante-active-height: 103px;
$garante-active-total-width: 378px;
$garante-active-total-height: 295px;
$garante-active-image: '/assets/template/css/sprites/sprite.png';
$garante-active: (0px, 0px, 0px, 0px, 78px, 103px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'garante-active', );
$garante-name: 'garante';
$garante-x: 78px;
$garante-y: 0px;
$garante-offset-x: -78px;
$garante-offset-y: 0px;
$garante-width: 78px;
$garante-height: 103px;
$garante-total-width: 378px;
$garante-total-height: 295px;
$garante-image: '/assets/template/css/sprites/sprite.png';
$garante: (78px, 0px, -78px, 0px, 78px, 103px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'garante', );
$grid-active-name: 'grid-active';
$grid-active-x: 272px;
$grid-active-y: 227px;
$grid-active-offset-x: -272px;
$grid-active-offset-y: -227px;
$grid-active-width: 21px;
$grid-active-height: 19px;
$grid-active-total-width: 378px;
$grid-active-total-height: 295px;
$grid-active-image: '/assets/template/css/sprites/sprite.png';
$grid-active: (272px, 227px, -272px, -227px, 21px, 19px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'grid-active', );
$grid-name: 'grid';
$grid-x: 212px;
$grid-y: 163px;
$grid-offset-x: -212px;
$grid-offset-y: -163px;
$grid-width: 21px;
$grid-height: 19px;
$grid-total-width: 378px;
$grid-total-height: 295px;
$grid-image: '/assets/template/css/sprites/sprite.png';
$grid: (212px, 163px, -212px, -163px, 21px, 19px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'grid', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 363px;
$icon-down-dark-y: 279px;
$icon-down-dark-offset-x: -363px;
$icon-down-dark-offset-y: -279px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 378px;
$icon-down-dark-total-height: 295px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (363px, 279px, -363px, -279px, 11px, 6px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-up-dark-name: 'icon-up-dark';
$icon-up-dark-x: 318px;
$icon-up-dark-y: 286px;
$icon-up-dark-offset-x: -318px;
$icon-up-dark-offset-y: -286px;
$icon-up-dark-width: 11px;
$icon-up-dark-height: 6px;
$icon-up-dark-total-width: 378px;
$icon-up-dark-total-height: 295px;
$icon-up-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-up-dark: (318px, 286px, -318px, -286px, 11px, 6px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'icon-up-dark', );
$individual-name: 'individual';
$individual-x: 318px;
$individual-y: 250px;
$individual-offset-x: -318px;
$individual-offset-y: -250px;
$individual-width: 45px;
$individual-height: 36px;
$individual-total-width: 378px;
$individual-total-height: 295px;
$individual-image: '/assets/template/css/sprites/sprite.png';
$individual: (318px, 250px, -318px, -250px, 45px, 36px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'individual', );
$list-active-name: 'list-active';
$list-active-x: 156px;
$list-active-y: 85px;
$list-active-offset-x: -156px;
$list-active-offset-y: -85px;
$list-active-width: 21px;
$list-active-height: 18px;
$list-active-total-width: 378px;
$list-active-total-height: 295px;
$list-active-image: '/assets/template/css/sprites/sprite.png';
$list-active: (156px, 85px, -156px, -85px, 21px, 18px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'list-active', );
$list-name: 'list';
$list-x: 177px;
$list-y: 85px;
$list-offset-x: -177px;
$list-offset-y: -85px;
$list-width: 21px;
$list-height: 18px;
$list-total-width: 378px;
$list-total-height: 295px;
$list-image: '/assets/template/css/sprites/sprite.png';
$list: (177px, 85px, -177px, -85px, 21px, 18px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'list', );
$loupe-name: 'loupe';
$loupe-x: 248px;
$loupe-y: 107px;
$loupe-offset-x: -248px;
$loupe-offset-y: -107px;
$loupe-width: 45px;
$loupe-height: 46px;
$loupe-total-width: 378px;
$loupe-total-height: 295px;
$loupe-image: '/assets/template/css/sprites/sprite.png';
$loupe: (248px, 107px, -248px, -107px, 45px, 46px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'loupe', );
$next-active-name: 'next-active';
$next-active-x: 363px;
$next-active-y: 250px;
$next-active-offset-x: -363px;
$next-active-offset-y: -250px;
$next-active-width: 12px;
$next-active-height: 10px;
$next-active-total-width: 378px;
$next-active-total-height: 295px;
$next-active-image: '/assets/template/css/sprites/sprite.png';
$next-active: (363px, 250px, -363px, -250px, 12px, 10px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'next-active', );
$next-name: 'next';
$next-x: 363px;
$next-y: 230px;
$next-offset-x: -363px;
$next-offset-y: -230px;
$next-width: 12px;
$next-height: 10px;
$next-total-width: 378px;
$next-total-height: 295px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (363px, 230px, -363px, -230px, 12px, 10px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'next', );
$ok-active-name: 'ok-active';
$ok-active-x: 172px;
$ok-active-y: 143px;
$ok-active-offset-x: -172px;
$ok-active-offset-y: -143px;
$ok-active-width: 40px;
$ok-active-height: 40px;
$ok-active-total-width: 378px;
$ok-active-total-height: 295px;
$ok-active-image: '/assets/template/css/sprites/sprite.png';
$ok-active: (172px, 143px, -172px, -143px, 40px, 40px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'ok-active', );
$ok-name: 'ok';
$ok-x: 132px;
$ok-y: 143px;
$ok-offset-x: -132px;
$ok-offset-y: -143px;
$ok-width: 40px;
$ok-height: 40px;
$ok-total-width: 378px;
$ok-total-height: 295px;
$ok-image: '/assets/template/css/sprites/sprite.png';
$ok: (132px, 143px, -132px, -143px, 40px, 40px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'ok', );
$order-active-name: 'order-active';
$order-active-x: 0px;
$order-active-y: 188px;
$order-active-offset-x: 0px;
$order-active-offset-y: -188px;
$order-active-width: 70px;
$order-active-height: 107px;
$order-active-total-width: 378px;
$order-active-total-height: 295px;
$order-active-image: '/assets/template/css/sprites/sprite.png';
$order-active: (0px, 188px, 0px, -188px, 70px, 107px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'order-active', );
$order-name: 'order';
$order-x: 248px;
$order-y: 0px;
$order-offset-x: -248px;
$order-offset-y: 0px;
$order-width: 70px;
$order-height: 107px;
$order-total-width: 378px;
$order-total-height: 295px;
$order-image: '/assets/template/css/sprites/sprite.png';
$order: (248px, 0px, -248px, 0px, 70px, 107px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'order', );
$original-active-name: 'original-active';
$original-active-x: 70px;
$original-active-y: 188px;
$original-active-offset-x: -70px;
$original-active-offset-y: -188px;
$original-active-width: 72px;
$original-active-height: 93px;
$original-active-total-width: 378px;
$original-active-total-height: 295px;
$original-active-image: '/assets/template/css/sprites/sprite.png';
$original-active: (70px, 188px, -70px, -188px, 72px, 93px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'original-active', );
$original-name: 'original';
$original-x: 142px;
$original-y: 188px;
$original-offset-x: -142px;
$original-offset-y: -188px;
$original-width: 72px;
$original-height: 93px;
$original-total-width: 378px;
$original-total-height: 295px;
$original-image: '/assets/template/css/sprites/sprite.png';
$original: (142px, 188px, -142px, -188px, 72px, 93px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'original', );
$pdf-name: 'pdf';
$pdf-x: 293px;
$pdf-y: 107px;
$pdf-offset-x: -293px;
$pdf-offset-y: -107px;
$pdf-width: 22px;
$pdf-height: 31px;
$pdf-total-width: 378px;
$pdf-total-height: 295px;
$pdf-image: '/assets/template/css/sprites/sprite.png';
$pdf: (293px, 107px, -293px, -107px, 22px, 31px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'pdf', );
$phone-footer-name: 'phone-footer';
$phone-footer-x: 301px;
$phone-footer-y: 153px;
$phone-footer-offset-x: -301px;
$phone-footer-offset-y: -153px;
$phone-footer-width: 17px;
$phone-footer-height: 17px;
$phone-footer-total-width: 378px;
$phone-footer-total-height: 295px;
$phone-footer-image: '/assets/template/css/sprites/sprite.png';
$phone-footer: (301px, 153px, -301px, -153px, 17px, 17px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'phone-footer', );
$phone-header-name: 'phone-header';
$phone-header-x: 198px;
$phone-header-y: 85px;
$phone-header-offset-x: -198px;
$phone-header-offset-y: -85px;
$phone-header-width: 17px;
$phone-header-height: 17px;
$phone-header-total-width: 378px;
$phone-header-total-height: 295px;
$phone-header-image: '/assets/template/css/sprites/sprite.png';
$phone-header: (198px, 85px, -198px, -85px, 17px, 17px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'phone-header', );
$prev-active-name: 'prev-active';
$prev-active-x: 363px;
$prev-active-y: 240px;
$prev-active-offset-x: -363px;
$prev-active-offset-y: -240px;
$prev-active-width: 12px;
$prev-active-height: 10px;
$prev-active-total-width: 378px;
$prev-active-total-height: 295px;
$prev-active-image: '/assets/template/css/sprites/sprite.png';
$prev-active: (363px, 240px, -363px, -240px, 12px, 10px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'prev-active', );
$prev-name: 'prev';
$prev-x: 363px;
$prev-y: 220px;
$prev-offset-x: -363px;
$prev-offset-y: -220px;
$prev-width: 12px;
$prev-height: 10px;
$prev-total-width: 378px;
$prev-total-height: 295px;
$prev-image: '/assets/template/css/sprites/sprite.png';
$prev: (363px, 220px, -363px, -220px, 12px, 10px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'prev', );
$search-name: 'search';
$search-x: 272px;
$search-y: 246px;
$search-offset-x: -272px;
$search-offset-y: -246px;
$search-width: 19px;
$search-height: 19px;
$search-total-width: 378px;
$search-total-height: 295px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (272px, 246px, -272px, -246px, 19px, 19px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'search', );
$shop-town-name: 'shop-town';
$shop-town-x: 318px;
$shop-town-y: 0px;
$shop-town-offset-x: -318px;
$shop-town-offset-y: 0px;
$shop-town-width: 60px;
$shop-town-height: 112px;
$shop-town-total-width: 378px;
$shop-town-total-height: 295px;
$shop-town-image: '/assets/template/css/sprites/sprite.png';
$shop-town: (318px, 0px, -318px, 0px, 60px, 112px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'shop-town', );
$sidebar-right-arrow-name: 'sidebar-right-arrow';
$sidebar-right-arrow-x: 363px;
$sidebar-right-arrow-y: 204px;
$sidebar-right-arrow-offset-x: -363px;
$sidebar-right-arrow-offset-y: -204px;
$sidebar-right-arrow-width: 10px;
$sidebar-right-arrow-height: 16px;
$sidebar-right-arrow-total-width: 378px;
$sidebar-right-arrow-total-height: 295px;
$sidebar-right-arrow-image: '/assets/template/css/sprites/sprite.png';
$sidebar-right-arrow: (363px, 204px, -363px, -204px, 10px, 16px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'sidebar-right-arrow', );
$support-online-name: 'support-online';
$support-online-x: 272px;
$support-online-y: 188px;
$support-online-offset-x: -272px;
$support-online-offset-y: -188px;
$support-online-width: 39px;
$support-online-height: 39px;
$support-online-total-width: 378px;
$support-online-total-height: 295px;
$support-online-image: '/assets/template/css/sprites/sprite.png';
$support-online: (272px, 188px, -272px, -188px, 39px, 39px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'support-online', );
$town-active-name: 'town-active';
$town-active-x: 214px;
$town-active-y: 188px;
$town-active-offset-x: -214px;
$town-active-offset-y: -188px;
$town-active-width: 58px;
$town-active-height: 92px;
$town-active-total-width: 378px;
$town-active-total-height: 295px;
$town-active-image: '/assets/template/css/sprites/sprite.png';
$town-active: (214px, 188px, -214px, -188px, 58px, 92px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'town-active', );
$town-name: 'town';
$town-x: 318px;
$town-y: 112px;
$town-offset-x: -318px;
$town-offset-y: -112px;
$town-width: 58px;
$town-height: 92px;
$town-total-width: 378px;
$town-total-height: 295px;
$town-image: '/assets/template/css/sprites/sprite.png';
$town: (318px, 112px, -318px, -112px, 58px, 92px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'town', );
$uraddress-name: 'uraddress';
$uraddress-x: 212px;
$uraddress-y: 103px;
$uraddress-offset-x: -212px;
$uraddress-offset-y: -103px;
$uraddress-width: 21px;
$uraddress-height: 24px;
$uraddress-total-width: 378px;
$uraddress-total-height: 295px;
$uraddress-image: '/assets/template/css/sprites/sprite.png';
$uraddress: (212px, 103px, -212px, -103px, 21px, 24px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'uraddress', );
$vk-active-name: 'vk-active';
$vk-active-x: 92px;
$vk-active-y: 143px;
$vk-active-offset-x: -92px;
$vk-active-offset-y: -143px;
$vk-active-width: 40px;
$vk-active-height: 40px;
$vk-active-total-width: 378px;
$vk-active-total-height: 295px;
$vk-active-image: '/assets/template/css/sprites/sprite.png';
$vk-active: (92px, 143px, -92px, -143px, 40px, 40px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'vk-active', );
$vk-name: 'vk';
$vk-x: 92px;
$vk-y: 103px;
$vk-offset-x: -92px;
$vk-offset-y: -103px;
$vk-width: 40px;
$vk-height: 40px;
$vk-total-width: 378px;
$vk-total-height: 295px;
$vk-image: '/assets/template/css/sprites/sprite.png';
$vk: (92px, 103px, -92px, -103px, 40px, 40px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'vk', );
$zoom-name: 'zoom';
$zoom-x: 318px;
$zoom-y: 204px;
$zoom-offset-x: -318px;
$zoom-offset-y: -204px;
$zoom-width: 45px;
$zoom-height: 46px;
$zoom-total-width: 378px;
$zoom-total-height: 295px;
$zoom-image: '/assets/template/css/sprites/sprite.png';
$zoom: (318px, 204px, -318px, -204px, 45px, 46px, 378px, 295px, '/assets/template/css/sprites/sprite.png', 'zoom', );
$spritesheet-width: 378px;
$spritesheet-height: 295px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($address, $arrow-menu, $arrow-right, $buy-active, $buy, $cart, $check, $delete, $facebook-active, $facebook, $footer-menu-arrow, $garant, $garante-active, $garante, $grid-active, $grid, $icon-down-dark, $icon-up-dark, $individual, $list-active, $list, $loupe, $next-active, $next, $ok-active, $ok, $order-active, $order, $original-active, $original, $pdf, $phone-footer, $phone-header, $prev-active, $prev, $search, $shop-town, $sidebar-right-arrow, $support-online, $town-active, $town, $uraddress, $vk-active, $vk, $zoom, );
$spritesheet: (378px, 295px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
