//= include/header.html


<div class="header">
    <div class="container">
        <div class="topline">
            <!--div class="header__burger"><span></span></div-->
            <div class="topline__left">
                <a href="/" class="logo-top"><img src="/assets/template/images/logo.png" alt=""></a>
                <a href="#" class="btn-b btn-b__calc">Калькулятор</a>
            </div>
            <div class="topline__right">
                <ul class="topline__list">
                    <li><a href="#">Команда</a></li>
                    <li><a href="#">Работы</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="topline__contacts">
                    <div><a href="tel:88125078023" class="topline__phone">(812) 507 80 23</a></div>
                    <div><a href="#" class="topline__callback">Заказать звонок</a></div>
                </div>
            </div>
        </div>
        <div class="header__body">
            <div class="header__caption">
                Умное проектирование
                офисов и общественных
                пространств
            </div>
            <div class="header__subcaption">
                С учетом особенностей пространства, бюджета и <br />
                ваших пожеланий
            </div>
            <div class="header__items">
                <div class="header__item">
                    Учитываем ваши бизнес-процессы и удобство
                    сотрудников на каждом этапе
                </div>
                <div class="header__item">
                    В хорошем темпе: проект помещения 100 м.кв.
                    готовим за 3 дня
                </div>
            </div>
            <a class="btn btn--arrow btn__all-works" href="#">Смотреть примеры работ</a>
        </div>
    </div>



</div>

<div class="samples">
    <div class="container">
        <div class="caption">Примеры наших работ</div>
        <div class="subcaption">Это подзаголовок если потребуется</div>
    </div>
</div>
//= include/footer.html